@using Lab1_ED2.Helper
@{
    var alerts = TempData.ContainsKey(Alertas.TempDataKey)
    ? (List<Alertas>
    )TempData[Alertas.TempDataKey]
    : new List<Alertas>
        ();
        if (alerts.Any())
        {
        <hr />
        }
        foreach (var alert in alerts)
        {
        var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;
        <div class="alert alert-@alert.AlertStyle @dismissableClass">
            @if (alert.Dismissable)
            {
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            }
            @Html.Raw(alert.Message)
        </div>
        }
        }
