
@{
    ViewBag.Title = "Compresion Huffman Importar";
}

<h2>Importar Archivo Para Compresion Huffman</h2>

@using (Html.BeginForm("CompresionHImportar", "Huffman", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="ArchivoImportado" />
    <input type="submit" value="Importar" class="btn btn-default" />
}
    <p>
        @Html.ActionLink("Ver Mis Compresiones", "VerMisCompresiones", "Huffman")
    </p>
