
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>
<h3>Compresion Huffman</h3>
@Html.ActionLink("Comprimir o descomprimir un archivo", "MenuHuffman","Huffman")
<h3>Mis Compresiones</h3>
@Html.ActionLink("Ver Mis Compresiones","VerMisCompresiones","Huffman")
