
@{
    ViewBag.Title = "MenuLZW";
}
<h2>Menu de Compresion LZW</h2>
<p>
    @Html.ActionLink("Comprimir archivo", "CompresionLZWImportar", "Huffman")
</p>
<p>
    @Html.ActionLink("Descomprimir archivo", "DescompresionLZWImportar", "Huffman")
</p>

