
@{
    ViewBag.Title = "MenuHuffman";
}

<h2>Menu de Compresion Huffman</h2>
<p>
    @Html.ActionLink("Comprimir archivo", "CompresionHImportar", "Huffman")
</p>
<p>
    @Html.ActionLink("Descomprimir archivo", "DescompresionHImportar", "Huffman")
</p>

